<%- include('../partials/header') %> 

<h1><%= title %> </h1>

<form action="/messages" method="POST">
    <div>
        <input type="text" name="title" placeholder="Share your thoughts about plants, ask after plants people are willing to share, and more!">
    </div>
    <button type="submit">Confer With </button>
</form>






<%- include('../partials/footer') %> 