body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  margin: 0;
}

#nav-bar{
  background-color: chartreuse;
  color: rgb(6, 72, 6);
  border-color: rgb(6, 72, 6);
}